.navCont {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 15vh;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.navBar {
    display: flex;

    height: 15vh;

    justify-content: right;
    align-items: center;
}

.titleCont {
    display: flex;

    width: 45vw;

    justify-content: center;
}

.navTitle {
    margin: 0;
}

.navBar {
    width: 55vw;
}

.navList {
    width: 40vw;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    margin: 0;
    padding: 0;
}

.navListElement {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

li {
    list-style: none;
}