.productPageAdminCont {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 1rem;

    padding-bottom: 2rem;
}

.productPageAdminAuxCont {
    display: flex;
    flex-direction: column;

    width: 85vw;
    
    gap: 1rem;
}